@page "/weather"
@inject HttpClient client
@inject IJSRuntime js

<h3>Weather data</h3>
<small>Click here to featch weather data.</small>
<div class="form-group">
    <a class="btn btn-success" href="#"><i class="oi oi-plus"></i> Featch Weather Data</a>
</div>
<br>

@if (weatherData == null)
{
    <text>Loading...</text>
}
else if (weatherData.Length == 0)
{
    <text>No Records Found.</text>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Location</th>
                <th>Temp</th>
                <th>Humid</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (WeatherData wData in weatherData)
            {
                <tr>
                    <td>@wData.Id</td>
                    <td>@wData.Date</td>
                    <td>@wData.Location</td>
                    <td>@wData.Temp</td>
                    <td>@wData.Humid</td>
                    <td>
                        <a class="btn btn-success" href="developer/edit/@wData.Id">Edit</a>
                      
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
@code {
    WeatherData[] weatherData { get; set; }
    protected override async Task OnInitializedAsync()
    {
        weatherData = await client.GetFromJsonAsync<WeatherData[]>("api/weatherdata");
    }
    


}